html {
  scroll-behavior: smooth;
}
.movies__container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.page-item {
  margin-top: 1rem;
  margin-right: 1.5rem;
}

.page-link {
  background: black !important;
  color: white;
  border: none;
}

.page-item.active > a {
  color: #ffa801 !important;
  border: 1px solid white !important;
}

@media screen and (max-width: 768px) {
  .page-item {
    margin-right: 0px !important;
  }

  .page-link {
    padding: 0.4rem 1rem !important;
  }
}
